{% block setting_value_widget %}
{% set widget_id = random()  %}
{% set subject = form.parent.vars.value|default({id: 0, type: null, value: null}) %}
{% set value = subject.value %}
{% set attr = attr|merge({'data-type': 'type'}) %}
<div class="lexxpavlov_settings_value_container">
{%- spaceless %}
    {% if subject.type is constant('Lexxpavlov\\SettingsBundle\\DBAL\\SettingsType::Boolean') %}
        {% if value == true %}
            {% set value = 'on' %}
        {% elseif value == false %}
            {% set value = 'off' %}
        {% endif %}
        {{ block('choice_widget') }}
    {% endif %}
    {% if subject.type is constant('Lexxpavlov\\SettingsBundle\\DBAL\\SettingsType::Integer') %}
        {% set type = 'number' %}
        {{ block('form_widget_simple') }}
    {% endif %}
    {% if subject.type is constant('Lexxpavlov\\SettingsBundle\\DBAL\\SettingsType::Float') %}
        {% set type = 'number' %}
        {% set attr = attr|merge({step:'any'}) %}
        {{ block('form_widget_simple') }}
    {% endif %}
    {% if subject.type is constant('Lexxpavlov\\SettingsBundle\\DBAL\\SettingsType::String') %}
        {% set type = 'text' %}
        {{ block('form_widget_simple') }}
    {% endif %}
    {% if subject.type is constant('Lexxpavlov\\SettingsBundle\\DBAL\\SettingsType::Text') %}
        {{ block('textarea_widget') }}
    {% endif %}
    {% if subject.type is constant('Lexxpavlov\\SettingsBundle\\DBAL\\SettingsType::Html') %}
        {{ block(html_widget ? html_widget~'_widget': 'textarea_widget') }}
    {% endif %}
{% endspaceless %}
</div>
{% set value = null %}
<script type="text/html" id="tpl_widget_boolean_{{ widget_id }}">
{%- set current_type = 'boolean' -%}
{%- set attr = attr|merge({'data-type': current_type}) -%}
{{- block('choice_widget') -}}
</script>
<script type="text/html" id="tpl_widget_int_{{ widget_id }}">
{%- set type = 'number' -%}
{%- set current_type = 'int' -%}
{%- set attr = attr|merge({'data-type': current_type}) -%}
{{- block('form_widget_simple') -}}
</script>
<script type="text/html" id="tpl_widget_float_{{ widget_id }}">
{%- set current_type = 'float' -%}
{%- set attr = attr|merge({'data-type': current_type, step:'any'}) -%}
{{- block('form_widget_simple') -}}
</script>
<script type="text/html" id="tpl_widget_string_{{ widget_id }}">
{%- set type = 'text' -%}
{%- set current_type = 'string' -%}
{%- set attr = attr|merge({'data-type': current_type}) -%}
{{- block('form_widget_simple') -}}
</script>
<script type="text/html" id="tpl_widget_text_{{ widget_id }}">
{%- set current_type = 'text' -%}
{%- set attr = attr|merge({'data-type': current_type}) -%}
{{- block('textarea_widget') -}}
</script>
<script type="text/html" id="tpl_widget_html_{{ widget_id }}">
{%- set current_type = 'html' -%}
{%- set attr = attr|merge({'data-type': current_type}) -%}
{{- block('textarea_widget') -}}
</script>
{% if html_widget == 'ckeditor' %}
<script type="text/javascript">var CKEDITOR_BASEPATH = "{{ base_path }}";</script>
<script type="text/javascript" src="{{ js_path }}"></script>
{% endif %}
<script type="text/javascript" id="lexxpavlov_setting_value_script_{{ widget_id }}">
document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById('lexxpavlov_setting_value_script_{{ widget_id }}').parentNode;
    while (!(form.tagName === 'FORM' && form.tagName !== "HTML")) form = form.parentNode;
    var form_id = form.getElementsByTagName('INPUT')[0].name.replace(/\[.*\]/, '');
    var container = form.getElementsByClassName('lexxpavlov_settings_value_container')[0];
    form[form_id+'[type]'].addEventListener("change", function () { setValueType(this.value); });
{% if subject.type is null %}
    setValueType('boolean');
{% endif %}

    function setValueType(type) {
        var node = form[form_id+'[value]'];
        if (node) container.dataset[node.dataset.type] = node.value;
        container.innerHTML = document.getElementById('tpl_widget_' + type + '_{{ widget_id }}').innerHTML;
        if (container.dataset[type] !== undefined) form[form_id+'[value]'].value = container.dataset[type];
        if (type == 'html') window.CKEDITOR && CKEDITOR.replace(form_id+'_value').on('blur', function() { this.updateElement(); });
    }
});
</script>
{% endblock %}